<html>
  <head>
    <title> Nanoreader - index </title>
  </head>
  <body>
    <table>
      <tr>
        <th> Usuário </th>
        <th> Nome Completo </th>
        <th> Email </th>
        <th> Admin </th>
        <th></th>
        <th></th>
      </tr>
      <% @users.each do |u| -%>
        <tr>
          <td> <%= link_to u.username.to_s, :action => "show_user", :id => u %></td>
          <td> <%= u.name %></td>
          <td> <%= u.email %></td>
          <td>
            <% if u.is_admin? then -%>
               *
            <% end -%>
          </td>
          <td>
            <%= link_to "Editar", :action => "edit_user", :id => u %>
          </td>
          <td>
            <%= link_to "Excluir", :action => "delete_user", :id => u %>
          </td>
        </tr>
      <% end -%>
    </table>
    <%= link_to "Adicionar Usuário", :action => "add_user" %>
  </body>
</html>
