<html>
  <head>
    <title> Nanoreader - Mostrar usuário </title>
  </head>
  <body>
    <p>
      Nome: <%= @user.name %>
    </p>
    <p>
      Nome de usuário: <%= @user.username %>
    </p>
    <p>
      Email: <%= @user.email %>
    </p>
    <% unless @user.is_admin -%>
      <table>
        <tr>
          <th> Nome </th>
          <th> Link </th>
          <th> Última atualização </th>
          <th></th>
        </tr>
        <% @user.feed_sources.each do |f| -%>
          <tr>
            <td> <%= link_to f.name.to_s, :action => "show_feed_source", :id => f %></td>
            <td> <%= f.link %></td>
            <td> <%= f.last_updated %></td>
            <td><%= link_to "Remover", :action => "delete_feed_source", :user_id => @user, :feed_source_id => f %></td>
          </tr>
        <% end -%>
      </table>
      <%= link_to "Adicionar fonte de feed", :action => "add_feed_source", :id => @user %>
    <% else -%>
    <p>Não há feeds para administradores</p>
    <% end -%>
    
    <br />
    <%= link_to "Voltar", :action => "index" %>
  </body>
</html>