<html>
  <head>
    <title> Nanoreader - Adicionar fonte de feed </title>
  </head>
  <body>
    <% form_for( :feed_source, @feed_source, :url => {:action => 'add_feed_to_user', :id => @user_id }) do |f| -%>
      <p>
        Nome da fonte de feed: 
        <%= f.text_field :name %>
      </p>
      <p>
        Link: 
        <%= f.text_field :link %>
      </p>  
      <p>
        ico: 
        <%= f.text_field :ico %>
      </p>    
      <p>
        <%= f.submit 'Assinar' %>
      </p>
    <% end -%>
    <br />
    <%= button_to "Voltar", :back %>
  </body>
</html>